{% extends "base.html" %}

{% block content %} 

    <div class="alert alert-light mt-3" role="alert">
        <form method="GET" action="{% url 'films:film_search' %}" class="d-flex justify-content-center">
            <div class="row">
              <div class="col-md-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="title__icontains" id="id_title__icontains" placeholder="Title Contains">
                </div>
              </div>
              <div class="col-md-2">
                <select class="form-select" name="certificate" id="id_certificate">
                  <option selected value="">Film Certification</option>
                  <option value="U">U</option>
                  <option value="PG">PG</option>
                  <option value="12a">12a</option>
                  <option value="15">15</option>
                  <option value="18">18</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" name="avg_rating_min" id="id_avg_rating_0" placeholder="Min Rating">
              </div>
              
              <div class="col-md-2">
                <input type="text" class="form-control" name="avg_rating_max" id="id_avg_rating_1" placeholder="Max Rating">
              </div>
              <div class="col-md-2">
                <input type="submit" value="submit" class="btn btn-warning">
              </div>
            </div>
          </form>
          
    </div>

    <hr>
    
    <div class="row row-cols-5">
    {% for film in page_obj %}
    <div class="mb-3">
        <div class="card bg-body-tertiary" style="min-height: 450px;">
            <a href="{% url 'films:f_detail' film.id %}">
                <img src="{{film.poster}}" class="card-img-top" height="300px" width="200px">
            </a>
            <div class="card-body">
                <h4>
                    <i class="bi bi-star-fill text-warning"></i> <span class="me-5">{{film.average_rating|floatformat:1}}</span>
                    <i class="bi bi-star text-primary"></i> <span class="me-5">{{film.ratings__rating|floatformat:1}}</span>
                </h4>
                <h5><a class="text-decoration-none" href="{% url 'films:f_detail' film.id %}">{{film.title}}</a></h5>
              
            </div>
        </div>
    </div>
    
    
    <!-- <p><a href="{% url 'films:f_detail' film.id %}">{{film.title}}</a></p> -->
    {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.paginator.1}}">&laquo; first</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>
            {% else %} 
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo; first</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">previous</a>
            </li>
            {% endif %}
            {% for n in page_obj.paginator.page_range %}
                {% if page_obj.number == n %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">next</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">last &raquo;</a>
                </li>
            {% endif %}
            </li>
        </ul>
    </nav>        
      
    

{% endblock content %}